<table class="board" data-max-x="{{board.cols}}" data-max-y="{{board.rows.length}}">
    <tr>
        <th></th>
        {{#for 0 board.cols}}
            <th>{{add this 1}}</th>
        {{/for}}
    </tr>
    {{#each board.rows}}
    <tr>
        <td class="center-text">{{ this }}</td>
        {{#for 0 ../board.cols}}
            <td class="box" data-location-x="{{ add this 1 }}" data-location-y="{{ @../this }}">{{x}}</td>
        {{/for}} 
    </tr>
    {{/each}}
</table>


  