body {
    margin: 0px;
} 

table.board {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    &, th, td {
        // border-collapse: collapse;
        border-spacing: 0;
    }
    tr:not(:first-child) {
        th, td {
            &:not(:first-child) {
                &:hover {
                    border: 2px solid #991111;
                }            
            }
        }       
    }

    th, td {
        background: #113366;
        border: 2px solid #6699DD;
        width: 2vw;
        height: 2vw;
        color: #efefef;
        font-weight: 300;
    }
}  
.center-text {
    text-align: center;
}  
.box.highlight {
    background: red;
}
.ship {
    background:grey;
    &.snapped {
        background: black;
    }
}